@model Worflow.Models.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h3><i class="fa-regular fa-pen-to-square" style="color: var(--corPrincipal); margin-right: 5px"></i>Editar Usuário</h3>

<form asp-action="AtualizarUsuario">

    <div class="card">

        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.Id, new { @class = "hid-id" })           

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" value='@Model.Nome' />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="col-6">   
                    <label asp-for="RACF" class="control-label"></label>
                    <input asp-for="RACF" class="form-control" value='@Model.RACF' readonly/>
                    <span asp-validation-for="RACF" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-6">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                        </label>
                    </div>
                </div>

                <div class="col-6">

                    <label class="control-label">Perfil</label>

                    <select class="form-select form-select-lg mb-3" aria-label="select para perfil" asp-for="PerfilId">
                        <option selected>Selecione</option>
                        @foreach (var item in ViewBag.Perfil)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>
                    <span asp-validation-for="PerfilId" class="text-danger"></span>

                </div>
            </div>


        </div>

        <div class="card-footer" style="text-align:end">

            <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("ListarUsuarios", "Usuario")'">Voltar</button>

            <input type="submit" value="Salvar" class="btn btn-Acoes" />

        </div>

    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
