@model Worflow.Models.Cotacao

@{
    ViewData["Title"] = "EditarLead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h3><i class="fa-regular fa-pen-to-square" style="color: var(--corPrincipal); margin-right: 5px"></i>Editar Cotação</h3>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">



            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => Model.LeadId, new { @class = "hid-id", @id="LeadId" })
            @Html.HiddenFor(model => Model.Id, new { @class = "hid-id", @id="CotacaoId" })
            @Html.HiddenFor(model => Model.StatusFinalizada, new { @class = "hid-id", @id="StatusFinalizada" })

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="DataEmissao" class="control-label"></label>
                    <input asp-for="DataEmissao" id="DataEmissao" class="form-control" type="text" />
                    <span asp-validation-for="DataEmissao" class="text-danger"></span>

                </div>

                <div class="col-6">
                    <label asp-for="DataVencimento" class="control-label"></label>
                    <input asp-for="DataVencimento" id="DataVencimento" class="form-control" type="text" />
                    <span asp-validation-for="DataVencimento" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" id="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label class="control-label">Seguradoras</label>

                    <select class="form-select form-select-lg p-1"
                            aria-label="select para seguradoras"
                            asp-for="SeguradoraId"
                            id="SeguradoraId">
                        <option selected>Selecione</option>
                        @foreach (var item in ViewBag.Seguradoras)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </select>
                    <span asp-validation-for="SeguradoraId" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="control-label">Status Seguradora</label>

                    <select class="form-select form-select-lg p-1"
                            aria-label="select para opções"
                            id="Opcoes">
                        <option selected>Selecione</option>
                        @foreach (var item in ViewBag.Opcoes)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>

                </div>
            </div>

            <div class="row mb-3">

                <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">

                    <input type="button" value="Salvar" class="btn btn-Acoes" onclick="atualizarCotacao(@Model.LeadId)" data-bs-dismiss="modal" />

                </div>

            </div>

        </div>

    </div>

</div>
