@model IEnumerable<Worflow.Models.Cotacao>

<div class="row mb-3">

    <div class="col-12">

        <table class="table" id="tableCotacao">

            <thead class="tableCabecalho">
                <tr>
                    <th scope="col">Data Emissão</th>

                    <th scope="col">Data Vencimento</th>

                    <th scope="col">Valor</th>

                    <th scope="col">Seguradora</th>

                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           @Html.DisplayFor(modelItem => item.DataEmissao)                           
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataVencimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seguradora.Nome)
                        </td>
                        <td style="text-align:end">

                            <button type="button" class="btn btn-Acoes mb-2" onclick="abrirEditarCotacao(@item.Id)">
                                Editar
                            </button>

                            <button type="button" class="btn btn-Acoes mb-2" onclick="abrirDetalheCotacao(@item.Id)">
                                Detalhes
                            </button>

                            <button type="button" class="btn btn-Excluir mb-2" onclick="abrirExcluirCotacao(@item.Id)">
                                Excluir
                            </button>
                         
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<div class="modal fade" id="ExcluirCotacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div id="partialExcluirCotacao">
    </div>

</div>

<div class="modal fade" id="EditarCotacao" tabindex="-2" aria-labelledby="exampleModalLabel2" aria-hidden="true">

    <div id="partialEditarCotacao">
    </div>

</div>

<div class="modal fade" id="DetalhesCotacoes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">   
   
    <div id="partialDetalhesCotacoes">
    </div>

</div>
