@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Worflow.Models.Lead>;

<table class="table">
    <thead class="tableCabecalho">
        <tr>
            <th scope="col">Lead</th>

            <th scope="col">Data Agendada</th>

            <th scope="col">Fantasia</th>

            <th scope="col">Produto</th>

            <th scope="col">Status</th>          

            <th scope="col">Observação</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAgendada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Fantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                <td style="text-align:end">

                    <button type="button" class="btn btn-Acoes mb-2" onclick="location.href='@Url.Action("EditarLead", "Lead", new { id = item.Id })'">Editar</button>

                    <button type="button" class="btn btn-Acoes mb-2" onclick="location.href='@Url.Action("DetalhesLead", "Lead", new { id = item.Id })'">Detalhes</button>

                    <button type="button" class="btn btn-Excluir mb-2" data-bs-toggle="modal" data-bs-target="#modalExcluir" onclick="setIdExcluir(@item.Id)">
                        Excluir
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Excluir Lead</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-action="ExcluirLead">

                <div class="modal-body">
                    <h5>Deseja realmente excluir<i class="fa-regular fa-question ml-2" style="color: var(--corPrincipal); margin-right: 5px"></i></h5>
                    <input type="text" name="id" id="id" hidden>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-Acoes mr-4" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-Acoes">Sim</button>
                </div>

            </form>

        </div>
    </div>
</div>


