@model Worflow.Models.Lead

@{
    ViewData["Title"] = "CreateLead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><i class="fa-regular fa-plus" style="color: var(--corPrincipal); margin-right: 5px"></i>Novo Lead</h3>

<form asp-action="InserirLead">
    <div class="card">

        <div class="card-body m-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.StatusId)
            @Html.HiddenFor(model => model.UsuarioId)
            @Html.HiddenFor(model => model.ProdutoId)
           @* @Html.HiddenFor(model => model.SegmentoId)*@
            @Html.HiddenFor(model => model.ClienteId, new { id = "LeadClienteId" })
            @Html.HiddenFor(model => model.Cliente.Id, new { id = "clienteId" })
            @Html.HiddenFor(model => model.Cliente.EnderecoId, new { id = "leadEnderecoId" })            

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Cliente.CNPJ" class="control-label"></label>
                    <input asp-for="Cliente.CNPJ" id="cnpj" class="form-control" onblur="buscarCliente()" />
                    <span asp-validation-for="Cliente.CNPJ" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Cliente.Agencia" class="control-label"></label>
                    <input asp-for="Cliente.Agencia" id="agencia" class="form-control" readonly />
                    <span asp-validation-for="Cliente.Agencia" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Cliente.Conta" class="control-label"></label>
                    <input asp-for="Cliente.Conta" id="conta" class="form-control" readonly />
                    <span asp-validation-for="Cliente.Conta" class="text-danger"></span>
                </div>

                <div class="col-4">
                   
                    <label class="control-label">Segmento</label>

                    <select class="form-select form-select-lg mb-3" 
                            asp-for="SegmentoId"
                            aria-label="select para segmentos" 
                            id="comboSegmento" 
                            onchange="changeSegmento()">
                        <option selected>Selecione</option>
                        @foreach (var item in ViewBag.Segmentos)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }                      
                    </select>

                </div>

            </div>

            <hr />

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="Cliente.RazaoSocial" class="control-label"></label>
                    <input asp-for="Cliente.RazaoSocial" id="razaoSocial" class="form-control" readonly />
                    <span asp-validation-for="Cliente.RazaoSocial" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label asp-for="Cliente.Fantasia" class="control-label"></label>
                    <input asp-for="Cliente.Fantasia" id="fantasia" class="form-control" readonly />
                    <span asp-validation-for="Cliente.Fantasia" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-9">
                    <label asp-for="Cliente.Email" class="control-label"></label>
                    <input asp-for="Cliente.Email" id="email" class="form-control" readonly />
                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Cliente.Telefone" class="control-label"></label>
                    <input asp-for="Cliente.Telefone" id="telefone" class="form-control" readonly />
                    <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="row mb-3">

                <div class="col-3">
                    <label asp-for="Cliente.Endereco.CEP" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.CEP" id="cep" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.CEP" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label asp-for="Cliente.Endereco.Logadouro" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Logadouro" id="logadouro" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.Logadouro" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Cliente.Endereco.Numero" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Numero" id="numero" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.Numero" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-4">
                    <label asp-for="Cliente.Endereco.Bairro" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Bairro" id="bairro" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.Bairro" class="text-danger"></span>
                </div>

                <div class="col-7">
                    <label asp-for="Cliente.Endereco.Cidade" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Cidade" id="cidade" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.Cidade" class="text-danger"></span>
                </div>

                <div class="col-1">
                    <label asp-for="Cliente.Endereco.UF" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.UF" id="uf" class="form-control" placeholder="" readonly />
                    <span asp-validation-for="Cliente.Endereco.UF" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="row mb-3">

                <div class="col-3">
                    <label asp-for="DataAgendada" class="control-label"></label>
                    <div class="input-group date" id='datepicker'>
                        <input asp-for="DataAgendada"
                               type="text" class="form-control"
                               value="@DateTime.Now.ToString("dd/MM/yyyy hh:mm")" />

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="DataAgendada" class="text-danger"></span>
                </div>

                <div class="col-5">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea class="form-control" asp-for="Observacao" rows="3"></textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>

                <div class="col-4 gridProduto">

                    <label class="control-label gridProduto__titulo">Qual produto?</label>

                    <div id="listaProdutos"></div>
                </div>

            </div>

        </div>

        <div class="card-footer">

            <div class="row mb-3">

                <div class="col-12">

                    <div class="d-flex justify-content-between mt-2">

                        <button type="button" class="btn btn-Acoes ms-4" onclick="location.href='@Url.Action("ListarLead", "Lead")'">
                            Voltar
                        </button>

                        <button type="submit" class="btn btn-Acoes me-4" onclick="return verificarProdutos()">
                            Salvar
                        </button>

                    </div>
                    
                </div>

            </div>

        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{await Html.RenderPartialAsync("_DatepickerScriptsPartial");}

    @{await Html.RenderPartialAsync("_LeadScriptsPartial");}

}
