@model Worflow.Models.Lead

@{
    ViewData["Title"] = "EditarLead";
}

<h3><i class="fa-regular fa-pen-to-square" style="color: var(--corPrincipal); margin-right: 5px"></i>Editar Lead</h3>

<form asp-action="AtualizarLead">
    <div class="card">

        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                       
            @Html.HiddenFor(model => model.UsuarioId)
            @Html.HiddenFor(model => model.ProdutoId)
            @Html.HiddenFor(model => model.ClienteId, new { id = "LeadClienteId" })
            @Html.HiddenFor(model => model.Cliente.Id, new { id = "clienteId" })
            @Html.HiddenFor(model => model.Cliente.EnderecoId, new { id = "leadEnderecoId" })

        <fieldset disabled>

            <div class="row mb-3">
                <div class="col-4">
                    <label asp-for="Cliente.CNPJ" class="control-label"></label>
                    <input asp-for="Cliente.CNPJ" id="cnpj" class="form-control" value='@Model.Cliente.CNPJ' />
                    <span asp-validation-for="Cliente.CNPJ" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Cliente.Agencia" class="control-label"></label>
                    <input asp-for="Cliente.Agencia" id="agencia" class="form-control" value='@Model.Cliente.Agencia' />
                    <span asp-validation-for="Cliente.Agencia" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label asp-for="Cliente.Conta" class="control-label"></label>
                    <input asp-for="Cliente.Conta" id="conta" class="form-control" value='@Model.Cliente.Conta' />
                    <span asp-validation-for="Cliente.Conta" class="text-danger"></span>
                </div>

                <div class="col-2">
                    <label>Segmento</label>
                    <input asp-for="Segmento.Descricao" id="conta" class="form-control" value='@Model.Segmento.Descricao' />
                    <span asp-validation-for="Segmento.Descricao" class="text-danger"></span>
                </div>
            </div>


            <hr />

            <div class="row mb-3">

                <div class="col-6">
                    <label asp-for="Cliente.RazaoSocial" class="control-label"></label>
                    <input asp-for="Cliente.RazaoSocial" id="razaoSocial" class="form-control" value='@Model.Cliente.RazaoSocial' />
                    <span asp-validation-for="Cliente.RazaoSocial" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label asp-for="Cliente.Fantasia" class="control-label"></label>
                    <input asp-for="Cliente.Fantasia" id="fantasia" class="form-control" value='@Model.Cliente.Fantasia' />
                    <span asp-validation-for="Cliente.Fantasia" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-9">
                    <label asp-for="Cliente.Email" class="control-label"></label>
                    <input asp-for="Cliente.Email" id="email" class="form-control" value="@Model.Cliente.Email" />
                    <span asp-validation-for="Cliente.Email" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Cliente.Telefone" class="control-label"></label>
                    <input asp-for="Cliente.Telefone" id="telefone" class="form-control" value="@Model.Cliente.Telefone" />
                    <span asp-validation-for="Cliente.Telefone" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="row mb-3">

                <div class="col-3">
                    <label asp-for="Cliente.Endereco.CEP" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.CEP" id="cep" class="form-control" value="@Model.Cliente.Endereco.CEP" />
                    <span asp-validation-for="Cliente.Endereco.CEP" class="text-danger"></span>
                </div>

                <div class="col-6">
                    <label asp-for="Cliente.Endereco.Logadouro" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Logadouro" id="logadouro" class="form-control" value="@Model.Cliente.Endereco.Logadouro" />
                    <span asp-validation-for="Cliente.Endereco.Logadouro" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Cliente.Endereco.Numero" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Numero" id="numero" class="form-control" values="@Model.Cliente.Endereco.Numero" />
                    <span asp-validation-for="Cliente.Endereco.Numero" class="text-danger"></span>
                </div>

            </div>

            <div class="row mb-3">

                <div class="col-4">
                    <label asp-for="Cliente.Endereco.Bairro" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Bairro" id="bairro" class="form-control" value="@Model.Cliente.Endereco.Bairro" />
                    <span asp-validation-for="Cliente.Endereco.Bairro" class="text-danger"></span>
                </div>

                <div class="col-7">
                    <label asp-for="Cliente.Endereco.Cidade" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.Cidade" id="cidade" class="form-control" value="@Model.Cliente.Endereco.Cidade" />
                    <span asp-validation-for="Cliente.Endereco.Cidade" class="text-danger"></span>
                </div>

                <div class="col-1">
                    <label asp-for="Cliente.Endereco.UF" class="control-label"></label>
                    <input asp-for="Cliente.Endereco.UF" id="uf" class="form-control" value="@Model.Cliente.Endereco.UF" />
                    <span asp-validation-for="Cliente.Endereco.UF" class="text-danger"></span>
                </div>

            </div>

            <hr />

            <div class="row mb-3">

                <div class="col-3">
                    <label asp-for="DataAgendada" class="control-label"></label>
                    <div class="input-group date" id='datepicker'>
                        <input asp-for="DataAgendada"
                               type="text" class="form-control"
                               value="@Model.DataAgendada.ToString("dd/MM/yyyy hh:mm")"
                               />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <span asp-validation-for="DataAgendada" class="text-danger"></span>
                </div>

                <div class="col-5">
                    <label asp-for="Observacao" class="control-label"></label>
                    <textarea class="form-control" asp-for="Observacao" rows="3">'@Model.Observacao'</textarea>
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>

                <div class="col-4">

                    <label>Produto</label>

                    <input asp-for="Produto.Descricao" class="form-control" value="@Model.Produto.Descricao" />
                    <span asp-validation-for="Produto.Descricao" class="text-danger"></span>

                </div>

            </div>

        </fieldset>                

        </div>

        <div class="card-footer">

            <div class="row mb-3">

                <div class="col-6" style="text-align:start">

                    <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("ListarLead", "Lead")'">Voltar</button>

                </div>

                <div class="col-6" style="text-align:end">

                    <input type="submit" value="Salvar" class="btn btn-Acoes" disabled/>

                </div>

            </div>

        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}  

    @{await Html.RenderPartialAsync("_LeadScriptsPartial");}

}
