@model Worflow.Models.LeadCotacao

@{
    ViewData["Title"] = "EditarLead";
}

<h3><i class="fa-regular fa-pen-to-square" style="color: var(--corPrincipal); margin-right: 5px"></i>Editar Lead</h3>

<form asp-action="AtualizarLead">

    <div class="card">

        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.Lead.Id, new { @class = "hid-id" })

            <div class="accordion mb-3" id="acc">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc_dados">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_dados_cliente" aria-expanded="false" aria-controls="collapseOne">
                            Dados Clientes
                        </button>
                    </h2>
                    <div id="acc_dados_cliente" class="accordion-collapse collapse" aria-labelledby="acc_dados" data-bs-parent="#acc">
                        <div class="accordion-body">
                            <fieldset disabled>

                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label asp-for="Lead.Cliente.CNPJ" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.CNPJ" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.CNPJ" class="text-danger"></span>
                                    </div>

                                    <div class="col-2">
                                        <label asp-for="Lead.Cliente.Agencia" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Agencia" id="agencia" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Agencia" class="text-danger"></span>
                                    </div>

                                    <div class="col-2">
                                        <label asp-for="Lead.Cliente.Conta" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Conta" id="conta" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Conta" class="text-danger"></span>
                                    </div>

                                    <div class="col-2">
                                        <label>Segmento</label>
                                        <input asp-for="Lead.Segmento.Descricao" id="conta" class="form-control" />
                                        <span asp-validation-for="Lead.Segmento.Descricao" class="text-danger"></span>
                                    </div>
                                </div>

                                <hr />

                                <div class="row mb-3">

                                    <div class="col-6">
                                        <label asp-for="Lead.Cliente.RazaoSocial" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.RazaoSocial" id="razaoSocial" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.RazaoSocial" class="text-danger"></span>
                                    </div>

                                    <div class="col-6">
                                        <label asp-for="Lead.Cliente.Fantasia" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Fantasia" id="fantasia" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Fantasia" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="row mb-3">

                                    <div class="col-9">
                                        <label asp-for="Lead.Cliente.Email" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Email" id="email" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Email" class="text-danger"></span>
                                    </div>

                                    <div class="col-3">
                                        <label asp-for="Lead.Cliente.Telefone" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Telefone" id="telefone" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Telefone" class="text-danger"></span>
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc_endereco">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_endereco_cliente" aria-expanded="false" aria-controls="collapseTwo">
                            Endereço
                        </button>
                    </h2>
                    <div id="acc_endereco_cliente" class="accordion-collapse collapse" aria-labelledby="acc_endereco" data-bs-parent="#acc">
                        <div class="accordion-body">
                            <fieldset disabled>

                                <div class="row mb-3">

                                    <div class="col-3">
                                        <label asp-for="Lead.Cliente.Endereco.CEP" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.CEP" id="cep" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.CEP" class="text-danger"></span>
                                    </div>

                                    <div class="col-6">
                                        <label asp-for="Lead.Cliente.Endereco.Logadouro" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.Logadouro" id="logadouro" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.Logadouro" class="text-danger"></span>
                                    </div>

                                    <div class="col-3">
                                        <label asp-for="Lead.Cliente.Endereco.Numero" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.Numero" id="numero" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.Numero" class="text-danger"></span>
                                    </div>

                                </div>

                                <div class="row mb-3">

                                    <div class="col-4">
                                        <label asp-for="Lead.Cliente.Endereco.Bairro" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.Bairro" id="bairro" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.Bairro" class="text-danger"></span>
                                    </div>

                                    <div class="col-7">
                                        <label asp-for="Lead.Cliente.Endereco.Cidade" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.Cidade" id="cidade" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.Cidade" class="text-danger"></span>
                                    </div>

                                    <div class="col-1">
                                        <label asp-for="Lead.Cliente.Endereco.UF" class="control-label"></label>
                                        <input asp-for="Lead.Cliente.Endereco.UF" id="uf" class="form-control" />
                                        <span asp-validation-for="Lead.Cliente.Endereco.UF" class="text-danger"></span>
                                    </div>

                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc_historico">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_historico_lead" aria-expanded="false" aria-controls="collapseTwo">
                            Histórico
                        </button>
                    </h2>

                    <div id="acc_historico_lead" class="accordion-collapse collapse" aria-labelledby="acc_historico" data-bs-parent="#acc">
                        <div class="accordion-body">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <ul class="timeline">
                                        @foreach (var itemHistorico in Model.Lead.Historico.OrderByDescending(x => x.Id))
                                        {
                                            <li>
                                                <label class="historico__status ms-1">@itemHistorico.Status.Descricao</label>
                                                <label class="float-start historico_data">@itemHistorico.Data</label>
                                                <p>@itemHistorico.Mensagem</p>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">

                    <h2 class="accordion-header" id="acc_cotacao">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_cotacao_item" aria-expanded="false" aria-controls="collapseTwo">
                            Cotação
                        </button>
                    </h2>

                    <div id="acc_cotacao_item" class="accordion-collapse collapse" aria-labelledby="acc_cotacao" data-bs-parent="#acc">

                        <div class="accordion-body">

                            <div class="row mb-3">

                                <div class="col-6">
                                    <div class="card bg-success text-light mb-0 text-center" style="max-width: 12rem;">
                                        <div class="card-header"> @ViewBag.StatusSeguradora.Nome </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Comissão</h5>
                                            <p class="card-text">
                                                R$ @ViewBag.StatusSeguradora.Valor
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">

                                    <button type="button" class="btn btn-Acoes btn-cotacao mb-2" data-bs-toggle="modal" data-bs-target="#cotacoes">
                                        Nova Cotação
                                    </button>

                                </div>

                            </div>    

                            <div id="partialCotacoes">                               

                            </div>                           

                        </div>

                    </div>

                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="acc_arquivo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#acc_arquivo_lead" aria-expanded="true" aria-controls="collapseThree">
                            Arquivos
                        </button>
                    </h2>
                    <div id="acc_arquivo_lead" class="accordion-collapse collapse show" aria-labelledby="acc_arquivo" data-bs-parent="#acc">
                        <div class="accordion-body">

                            <div class="row mb-3">

                                <div class="col-11">
                                    <div class="mb-3">
                                        <input class="form-control" name="ListFiles" type="file" id="formFileMultiple" multiple>
                                    </div>
                                </div>

                                <div class="col-1">
                                    <button id="btnEnviarAnexo" type="button" class="btn btn-Acoes-v2">Anexar</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <fieldset disabled>

                <div class="row mb-3">

                    <div class="col-3">
                        <label asp-for="Lead.DataAgendada" class="control-label"></label>
                        <div class="input-group date" id='datepicker'>
                            <input asp-for="Lead.DataAgendada"
                                   type="text" class="form-control"
                                   value="@Model.Lead.DataAgendada.ToString("dd/MM/yyyy hh:mm")" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="Lead.DataAgendada" class="text-danger"></span>
                    </div>

                    <div class="col-5">
                        <label asp-for="Lead.Observacao" class="control-label"></label>
                        <textarea class="form-control" asp-for="Lead.Observacao" rows="3"></textarea>
                        <span asp-validation-for="Lead.Observacao" class="text-danger"></span>
                    </div>

                    <div class="col-4">

                        <label>Produto</label>

                        <input asp-for="Lead.Produto.Descricao" class="form-control" />
                        <span asp-validation-for="Lead.Produto.Descricao" class="text-danger"></span>

                    </div>

                </div>

            </fieldset>

            <div class="row mb-3">

                <div class="col-3">

                    <button type="button" class="btn btn-primary position-relative mt-4">
                        Status
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                            @Model.Lead.Status.Descricao
                        </span>
                    </button>

                </div>

                <div class="col-3">

                    <label class="control-label">Status</label>

                    <select class="form-select form-select-lg mb-3"
                            aria-label="select para status"
                            asp-for="Lead.StatusId">
                        <option selected>Selecione</option>
                        @foreach (var item in ViewBag.Status)
                        {
                            <option value="@item.Id">@item.Descricao</option>
                        }
                    </select>
                    <span asp-validation-for="Lead.StatusId" class="text-danger"></span>

                </div>

            </div>

        </div>

        <div class="card-footer">

            <div class="row mb-3">

                <div class="col-6" style="text-align:start">

                    <button type="button" class="btn btn-Acoes" onclick="location.href='@Url.Action("ListarLead", "Lead")'">Voltar</button>

                </div>

                <div class="col-6" style="text-align:end">

                    <input type="submit" value="Salvar" class="btn btn-Acoes" />

                </div>

            </div>

        </div>

    </div>

</form>

<div class="modal fade" id="cotacoes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">         

    @await Html.PartialAsync("~/Views/Lead/PartialViews/_NovaCotacao.cshtml", Model.Cotacao)

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("_LeadScriptsPartial");
    }

}
